<!-- BAR CHART -->
<div class="box box-success">
    <div class="box-header with-border">
    <h3 class="box-title">财务报表</h3>
    <div class="btn-group">
        <button type="button" class="btn btn-default" onclick="genBar(0)">月</button>
        <button type="button" class="btn btn-default" onclick="genBar(1)">周</button>
    </div>
    <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>
        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
    </div>
    </div>
    <div class="box-body">
    <div class="chart">
        <canvas id="barChart" style="height:230px"></canvas>
    </div>
    </div>
    <!-- /.box-body -->
</div>
<!-- /.box -->


<!-- ChartJS -->
<script src="../../bower_components/chart.js/Chart.js"></script>
<script>
function genBar(type = 1){
  $.get('/admin/order/list', function(res){
      var data = res.data;
      var newData = data.map(e=>{
        var date = new Date(e.addTime);
        return {
          price: e.price,
          data:  `${date.getFullYear()}-${date.getMonth()+1}${type === 1 ? '-' + date.getDate() : ''}`
        }
      })
      var group = new Map();
      newData.forEach(e=>{
        if(group.has(e.data)){
          group.set(e.data, Number(group.get(e.data)) + Number(e.price))
        }else{
          group.set(e.data, Number(e.price))
        }
      })
      if(res.code != 200){alert('数据错误');return;}
      console.log(group.keys(), group.values());
      var areaChartData = {
        labels  : Array.from(group.keys()),
        datasets: [
          {
            label               : '销量',
            fillColor           : 'rgba(60,141,188,0.9)',
            strokeColor         : 'rgba(60,141,188,0.8)',
            pointColor          : '#3b8bba',
            pointStrokeColor    : 'rgba(60,141,188,1)',
            pointHighlightFill  : '#fff',
            pointHighlightStroke: 'rgba(60,141,188,1)',
            data                : Array.from(group.values()),
          }
        ]
      }
      //-------------
      //- BAR CHART -
      //-------------
      var barChartCanvas                   = $('#barChart').get(0).getContext('2d')
      var barChart                         = new Chart(barChartCanvas)
      var barChartData                     = areaChartData
      var barChartOptions                  = {
        //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
        scaleBeginAtZero        : true,
        //Boolean - Whether grid lines are shown across the chart
        scaleShowGridLines      : true,
        //String - Colour of the grid lines
        scaleGridLineColor      : 'rgba(0,0,0,.05)',
        //Number - Width of the grid lines
        scaleGridLineWidth      : 1,
        //Boolean - Whether to show horizontal lines (except X axis)
        scaleShowHorizontalLines: true,
        //Boolean - Whether to show vertical lines (except Y axis)
        scaleShowVerticalLines  : true,
        scaleShowLabels: true,
        //Boolean - If there is a stroke on each bar
        barShowStroke           : true,
        //Number - Pixel width of the bar stroke
        barStrokeWidth          : 2,
        //Number - Spacing between each of the X value sets
        barValueSpacing         : 5,
        //Number - Spacing between data sets within X values
        barDatasetSpacing       : 1,
        showTooltips: true,
        //String - A legend template
        //Boolean - whether to make the chart responsive
        responsive              : true,
        maintainAspectRatio     : true
      }
  
      barChartOptions.datasetFill = false
      barChart.Bar(barChartData, barChartOptions)
    })
}
$(function(){
    genBar(1);
})
</script>