<div class="card" style="width: 18rem;margin-bottom: 1rem">
    <img class="card-img-top" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1554062927579&di=33c2d9cac7b36d266a35401be75b201c&imgtype=jpg&src=http%3A%2F%2Fimg3.imgtn.bdimg.com%2Fit%2Fu%3D2750916888%2C2842323035%26fm%3D214%26gp%3D0.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">ipad</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        <a href="#" class="btn btn-primary">去看看</a>
    </div>
</div>