<html>
    <link rel="stylesheet" href="/css/bootstrap.min.css" >
<body>
    hello world !
    <div class="alert alert-danger" role="alert">
            This is a danger alert—check it out!
    </div>
</body>
<script src="/js/jquery.slim.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
</html>