<div class="card-container">
    <% list.forEach((e)=>{%>
        <%- include('components/card', {item: e}) %>
    <% })%>
</div>
<style>
    .card-container{
        margin: 20px;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
</style>