<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">发布影片</h3>
  </div>
  <!-- /.box-header -->
  <!-- form start -->
  <form role="form" id="movieForm" action="/admin/movie/upload" method="POST" enctype="multipart/form-data">
    <div class="box-body">
      <div class="form-group">
        <label for="moviename">电影名</label>
        <input type="text" class="form-control" id="moviename" placeholder="电影名" name="moviename">
      </div>
      <div class="form-group">
        <label for="movieyear">上映年份</label>
        <input type="text" class="form-control" id="movieyear" placeholder="上映年份" name="movieyear">
      </div>
      <div class="form-group">
        <label for="price">票价</label>
        <input type="text" class="form-control" id="price" placeholder="票价" name="price">
      </div>
      <div class="form-group">
        <label for="star">评分</label>
        <input type="number" class="form-control" id="star" placeholder="评分" name="star">
      </div>
      <div class="form-group">
        <label for="desc">简介</label>
        <textarea class="form-control" id="desc" placeholder="简介" name="desc"></textarea>
      </div>
      <div class="form-group">
        <label for="moviepost">上传海报</label>
        <input type="file" id="moviepost" name="file">
        <p class="help-block"></p>
      </div>
    </div>
    <!-- /.box-body -->

    <div class="box-footer">
      <button type="button" onclick="submitData()" class="btn btn-primary">创建</button>
    </div>
  </form>
</div>

<script>
  var submitData = function () {
    var data = new FormData($('#movieForm')[0]);
    $.ajax(
      {
        type: "POST",
        dataType: "json",
        url: "/admin/movie/upload",
        contentType: false,
        processData: false,
        data,
        success: function (result) {
          if (result.code == 200) {
            setTimeout(()=>{
              window.location.href = "/admin/movie/"
            }, 1000)
          }
        },
        error: function () {
          alert("异常！");
        }
      })
  }
</script>